.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .ced {
        margin-left: 352px;
    }
    .set-ut {
        font-size: 12px;
    }
    .rectangle0 {
        width: 280px;
    }
    .name {
        font-size: 18px;
    }
    .manes {
        font-size: 13px;
    }
    .ton {
        width: 120px;
        height: 40px;
        font-size: 13px;
    }
    .ton-one {
        width: 120px;
        height: 40px;
        font-size: 13px;
        margin-left: 35px;
    }
    .names-two {
        width: 290px;
        height: 387px;
        background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
        border-radius: 6px;
        margin-left: 15px;
    }
    .inputs {
        width: 230px;
        height: 60px;
        font-size: 14px;
        margin-bottom: 18px;
    }
    .pro {
        font-size: 12px;
        padding-top: 0;
    }
    .but-two-one {
        width: 228px;
        height: 60px;
        font-size: 16px;
        margin-left: 30px;
        margin-bottom: 24px;
    }
    .euo_one {
        font-family: RoadRadio , sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 20px;
    }

    .euo {
        font-family: RoadRadio , sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .words-one {
        margin-top: 741px;
    }
    .Rectangle_one {
        width: 285px;
        height: 270px;
        cursor: pointer;
    }
    .yt{
        margin-left: 113px;
    }
    .yt_one{
        margin-left: -223px;
    }
    .yt-one{
        margin-left: 439px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }

}

@media (max-width: 400px) {

    #about {
        background: url("../img/image 16.svg") no-repeat center/cover;
        min-height: 50vh;
    }

    .bins {
        display: none;
    }

    .text-two {
        font-family: RoadRadio, sans-serif;
        font-size: 5vw;
        line-height: 77%;
        margin-bottom: 10px;
    }

    .ced {
        margin-left: 137px;
    }

    .project {
        font-family: Gilroy, sans-serif;
        line-height: 15px;
        margin-bottom: 30px;
    }

    .btn-one {
        position: absolute;
        width: 109px;
        height: 30px;
        font-size: 1.5vw;
        color: #FFFFFF;
    }

    .minim {
        width: 143px;
        height: 68px;
    }

    .usages {
        display: flex;
        flex-direction: column;
        margin-left: 6px;
    }

    .diu {
        font-family: RoadRadio, sans-serif;
        font-size: 14px;
    }

    .dolor {
        font-family: RoadRadio, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .project-one {
        width: 361px;
        font-family: Gilroy, sans-serif;
        font-size: 11px;
    }

    .vitae {
        font-family: Gilroy, sans-serif;
        font-size: 11px;
        margin-left: -21px;
    }

    .d-flex {
        display: none;
    }

    .block_three {
        width: 363px;
        height: 306px;
    }

    .images-twos {
        width: 340px;
    }

    .auto {
        display: none;
    }

    .code {
        margin-left: 153px;
        margin-top: 300px;
        transform: rotate(10.13deg);
    }

    .code::after {
        position: absolute;
        content: url("../img/loni1.svg");
    }

    .words {
        width: 100%;
        height: 33px;
        background: linear-gradient(90deg, #F5318D 0%, #FF5F41 49.27%, #EF9F30 100%);
        margin-top: 112px;
    }

    .links {
        font-size: 15px;
        line-height: 20px;
    }

    .comm {
        font-family: RoadRadio, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 6px;
        line-height: 20px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 9px;
    }

    .ipsum {
        font-family: RoadRadio, sans-serif;
        font-size: 20px;
        line-height: 18px;
    }

    .align {
        display: flex;
        flex-direction: column;
    }

    .vel-one {
        font-family: RoadRadio, sans-serif;
        font-weight: 50;
        font-size: 18px;
        text-align: center;
    }

    .circle-one {
        margin-left: 155px;
    }

    .set-ut {
        font-family: Gilroy, sans-serif;
        text-align: center;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 93px;
    }

    .logos_one_hree {
        padding-top: 542%;
        font-size: 24px;
    }

    .logos_one {
        font-size: 24px;
    }

    .school-one {
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }

    .mt-5 {
        margin-top: 0rem !important;
    }


    .yt-one {
        margin-top: -160px;
        margin-left: 130px;
    }

    .yt_one {
        margin-top: -160px;
        margin-left: 128px;
    }

    .school {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .contact {
        font-size: 26px;
        margin-left: 24px;
    }

    .rame {
        width: 95%;
    }

    .email {
        font-size: 18px;
    }

    .tel {
        font-size: 18px;
    }

    .map {
        font-size: 18px;
    }

    .online {
        font-size: 18px;
    }

    .once {
        font-size: 18px;
        margin-left: 15px;
    }

    .text_two {
        font-size: 12px;
    }

    .text_two_tree {
        font-size: 12px;
    }

    .modal_content {
        margin: 0 12px;
    }

    .blockes-two {
        margin-bottom: 40px;
    }

    .words-one {
        margin-top: 679%;
    }

    .rectangle0 {
        width: 95%;
    }

    .rename_one {
        font-size: 14px;
        line-height: 10px;
    }

    .name {
        font-size: 18px;
        line-height: 0;
    }

    .manes {
        font-size: 14px;
        line-height: 17px;
    }

    .ton {
        width: 135px;
        height: 45px;
        font-size: 14px;
        line-height: 1px;
    }

    .ton-one {
        width: 135px;
        height: 45px;
        font-size: 14px;
        margin-left: 44px;
    }

    .Rectangle_one {
        width: 95%;
        height: 270px;
        cursor: pointer;
    }

    .iframe {
        width: 95%;
        height: 206px;
        border-radius: 15px;
    }

    .call {
        font-size: 11px;
    }

    .text {
        font-size: 12px;
    }
    .navbar {
        display: flex;
    }
    .logo {
        cursor: pointer;
        width: 140px;
    }
    .fa-phone {
        color: #FFFFFF;
        font-size: 14px;
        margin-left: 15px;
    }
    .text-two {
        font-family: RoadRadio , sans-serif;
        font-size: 30px;
        width: 383px;
    }
    .project{
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 145.5%;
        text-align: center;
        color: #FFFFFF;
    }
    .blockers {
        width: 100%;
        height: 60px;
        background: #1F232E;
        border-radius: 6px;
        margin-top: 136px;
    }
}

@media (max-width: 340px) {
    .logo {
        cursor: pointer;
        width: 100px;
    }
    .call {
        font-size: 10px;
    }
    .text {
        font-size: 10px;
    }
    .big-one {
        margin-top: -9px;
    }
    .text-two {
        font-family: RoadRadio , sans-serif;
        font-size: 25px;
        width: 316px;
    }
    .project {
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 145.5%;
        text-align: center;
        color: #FFFFFF;
    }
    .btn-one {
        position: absolute;
        width: 109px;
        height: 30px;
        font-size: 9px;
        color: #FFFFFF;
    }
    .ced {
        margin-left: 96px;
    }
    .dolor {
        font-family: RoadRadio, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    .project-one {
        width: 361px;
        font-family: Gilroy, sans-serif;
        font-size: 9px;
    }
    .vitae {
        font-family: Gilroy, sans-serif;
        font-size: 10px;
        margin-left: -21px;
    }
    .block_three {
        width: 302px;
        height: 246px;
    }
    .images-twos {
        width: 285px;
    }
    .code {
        margin-left: 153px;
        margin-top: 239px;
        transform: rotate(10.13deg);
    }
    .circle-one {
        margin-left: 120px;
    }
    .rectangle0 {
        width: 95%;
    }
    .name {
        font-size: 16px;
        line-height: 0;
    }
    .manes {
        font-size: 13px;
        line-height: 15px;
    }
    .ton {
        width: 120px;
        height: 40px;
        font-size: 12px;
        line-height: 1px;
    }
    .ton-one {
        width: 130px;
        height: 40px;
        font-size: 12px;
        margin-left: 28px;
    }
    .names-two {
        width: 280px;
        height: 436px;
        background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
        border-radius: 6px;
        margin-left: 15px;
    }
    .but-two-one {
        width: 220px;
        height: 60px;
        font-size: 15px;
    }
    .words-one {
        margin-top: 730%;
    }
    .comm {
        font-size: 4px;
    }
    .logos_one_hree {
        padding-top: 572%;
        font-size: 20px;
    }
    .logos_one {
        font-size: 20px;
    }
    .yt {
        margin-top: -160px;
        margin-left: 106px;
    }
    .yt-one {
        margin-top: -160px;
        margin-left: 106px;
    }
    .yt_one {
        margin-top: -160px;
        margin-left: 106px;
    }
    .inputs {
        width: 220px;
        height: 60px;
    }
    .names__two {
        width: 271px;
        height: 436px;
        background: rgba(0 ,0,0,0.4);
        border-radius: 6px;
        margin-left: 15px;
    }
    .video__one iframe {
        position: absolute;
        width: 276px;
        height: 197px;
        margin-left: -133px;
    }
    .modal--one {
        width: 100vw;
        height: 156vh;
    }
}