*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Gilroy ;
    src: url("../fonts/gilroy-regular.ttf");
}

@font-face {
    font-family: RoadRadio ;
    src: url("../fonts/ofont.ru_RoadRadio.ttf");
}

@font-face {
    font-family: VerbenaC ;
    src: url("../fonts/verbenac.otf");
}

.container{
    max-width: 80%;
    margin: 0 auto;
    box-sizing: content-box;
}
/*///////header/////////////////////////////////////////////////////////////*/

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.circle{
    width: 6px;
    height: 6px;
    background: #27D1CE;
    box-shadow: 0 0 4px rgba(39, 209, 206, 0.5);
    border-radius: 50%;
}

.call{
    font-family: Gilroy ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
}
.fa-phone{
    color: #FFFFFF;
    font-size: 20px;
}
.text{
    text-decoration: none;
    font-family: Gilroy ,sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.big-one{
    margin-left: 200px;
}
.bins{
    width: 238px;
    height: 66px;
    border: none;
    background: #27D1CE;
    border-radius: 6px;
}
.text-one{
    text-decoration: none;
    font-family: Gilroy ,sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.line{
    opacity: 0.15;
    border: 1px solid #FFFFFF;
}

/*///////about/////////////////////////////////////////////////////////////*/

#about{
    background: url("../img/image 16.svg")no-repeat center/cover;
    min-height: 100vh;
}

.amet{
    padding-top: 220px;
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-two{
    font-family: RoadRadio , sans-serif;
    font-size: 60px;
    width: 769px;
    line-height: 85%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.project{
    width: 570px;
    font-family: Gilroy ,sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.ced{
    display: flex;
    justify-content: center;
    align-items: center;
}

.minim{
    width: 270px;
    height: 76px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    opacity: 0.8;
    filter: blur(58px);
    border-radius: 6px;
    position: relative;
}

.btn-one{
    position: absolute;
    width: 250px;
    height: 66px;
    background: linear-gradient(90deg, #F5318D 0%, #FF5F41 96.67%);
    border-radius: 6px;
    border: none;
    margin-top: -80px;
    font-family: RoadRadio , sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}




.modal__one {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: scale(1);
    transition: 0.5s;
    background-color: rgba(0,0,0,0.4);
}

.close{
    color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    right: 0;
    margin-top: -10px;
    cursor: pointer;
}





.euo_one{
    font-family: RoadRadio , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 28px;
}

.euo {
    font-family: RoadRadio , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pro {
    font-family: Gilroy , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8px;
}

.inputs {
    width: 279px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: inset 0 4px 11px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 30px;
    margin-bottom: 25px;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #BCBCBC;

}

.but-two-one{
    width: 279px;
    height: 65px;
    background: #27D1CE;
    border-radius: 10px;
    border: none;
    font-family: RoadRadio, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 24px;
}

.sideshow{
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}


.modal_content{
    position: absolute;
    margin: 0 362px;
    /*transform: scale(0.1);*/
    transition: 1s all;
    /*z-index: 999;*/
}



.names__two{
    width: 340px;
    height: 436px;
    background: rgba(0 ,0,0,0.4);
    border-radius: 6px;
    margin-left: 15px;
}


